<div class="container">
  <div class="text-center">
    <h1>{{title}}</h1>
  </div>
  <ul>
    <app-post-list *ngFor="let post of posts"
    [postTitle]="post.title"
    [postContent]="post.content"
    [postLoveIts]="post.loveIts"
    [postDate]="post.created_at"></app-post-list>
  </ul>
</div>

