<li [ngClass]="{'list-group-item': 'true', 'list-group-item-success' : postLoveIts > 0 , 'list-group-item-danger' : postLoveIts < 0}">
  <h2>{{ postTitle }}</h2>
  <h6>created the {{postDate  | date: 'M/d/yyyy, h:mm a' }}</h6>
  <p>{{ postContent }}</p>
  <p>🧡 :{{  getLike() }}</p>
  <button class="btn btn-success" (click)="onLike()" >Love it</button>
  <button class="btn btn-danger" (click)="onDislike()" >Dislike</button>
</li>

